

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@keyframes rodapeImagemAnim {
    0%{height: 0%;}
    100%{height: 100px;}
}

@keyframes zoom {
    0%{z-index: 1;}

    100%{z-index:2;clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);}
}
body{
    padding : 0;
    margin : 0;
    background-color: #161A1D;
}

.principal{
    background-color: #161A1D;
    width: 100%;
    height: 200vh;
    
}
.cabecalho {
    width: 100%;
    height: 10%;
    background-color: #0B090A;
    border-bottom: 5px solid #A4161A;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.cabecalhoBorda{
    width: 25%;
    height: 100%;
    /* border: 3px solid #A4161A; */
    font-size: 50px;
    display: flex;
    align-items: center;
}
.cabecalhoBorda2{
    width: 25%;
    height: 100%;
    /* border: 3px solid #A4161A; */

    display: flex;
    align-items: center;
}

.cabecalhoMeio{
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.txtLogo{
    
    font-family: 'Quicksand', sans-serif;
    
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}

.txtLogo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.divDivisoria{
    width: 100%;
    height: 200px;
    background-color: #161A1D;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.textoDivDivisoria{
    color:  white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
   
}

.fundoGradiente{
    background-color: #A4161A;
    
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom, #A4161A, #161A1D);
    display: flex;
    justify-content: center;
    align-items: center;

}
.metadeGradiente{
    width :45%;
   
    
    height: 100%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    font-size: 100px;
    font-family: 'Quicksand', sans-serif;
}

.divCarrinho{
    width: 70%;
    position: relative;
    height: 90%;
    background-color: whitesmoke;
    z-index: 2;
}

.divCarrinhoBotao{
    width: 100%;
    height: 20%;
    background-color: black;
    border-bottom: 5px solid #A4161A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrinho{
    width: 12.5%;
    height: 65%;
    background-color: white;
}


.rodape {
    width:100%;
    height: 75px;
    position: fixed;
    border-top: 1px solid white;
    
    background-color: #A4161A;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
}
.rodape:hover{
    height: 90px;
}

.containerImagens{
    width: 100%;
    height: 300px;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}

.fundoImagens{
    width: 400px;
    height: 400px;
    background-color: white;

}

.cabecalhoImagens{
    width: 400px;
    height: 75px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
   
    color: #660708;
    
}
.descricaoImagens{
    width: 400px;
    height: 50px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Quicksand', sans-serif;
    
    color: #660708;
    
}

.divDiagonal{
    width: 400px;
    height: 300px;
    background-color: white;
    clip-path: polygon(0% 0, 100% 0%, 0% 100%, 0 100%);
    position: absolute;
    display: flex;
    transition: 2s;
    

}

.divDiagonalInv{
    width: 400px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    transition: 2s;
    
}
.divDiagonalInv:hover,.divDiagonal:hover{
    transform: scale(1.01);
    z-index: 1;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}
h{
    border-bottom: 2px solid #A4161A;
}

.rodapeImage{
    width: 400px;
    height: 50px;
    background-color: #660708 ;


    display: flex;
    align-items: end;
    justify-content: center;
    align-items: center;
    color: white;
 

}
.rodapePreco{
    width: 400px;
    height: 100px;
    background-color: white ;
 

    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color:#660708 ;
    font-size: 30px;
    display: none;
    animation-name: rodapeImagemAnim;
    animation-duration: 1s;
}
.rodapeImage:hover + .rodapePreco{
    display: flex;
}