/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root {
    --main-color: #A4161A;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
}

body {
    background-color: #161A1D;
    padding: 0;
    margin:  0;
    width: 100%;
    height: 250vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h2{
    border-bottom: 1px solid #A4161A;
    font-family: "Cairo", sans-serif;
    font-size: 10px; 
    text-align: center;
}
/* Texto da Logo */
.txtLogo{
    font-size:40px;
    font-family: "Cairo", sans-serif;
    
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}

.txtLogo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.txtBotoes , .txtBotoesC{
    font-size: 15px;
    font-family: "Cairo", sans-serif;
    font-weight:700;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: .5s;
    
}

.txtBotoes:hover,.txtBotoesC:hover{
    font-size: 17.5px;
    color: white;
    margin: 10%;
    padding-top: 5%;
}

.txtBotoesC{
    align-items: center;
    font-size: 25px;
    height: 100%;
    width: 100%;
    font-family: "Cairo", sans-serif;
}

.textoSlogan{
    color:white;
    width: 90%;
    height: 100%;
    /* border: 1px solid #A4161A; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Cairo", sans-serif;
    animation: animate 1.5s linear infinite;
    z-index: -1;
}

.cabecalho{
    width: 100%;
    height: 15%;
    background: linear-gradient(-45deg, #000000, #6a040f, #370617, #03071e);
    background-size: 400% 400%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    text-align: center;
    z-index: 5;
    animation: Gradient 8s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

a{
    color: red;
    text-decoration: none;
}
/* Os containers das pontas do cabeçalho. */

.cabecalhoBorda{
    width: 25%;
    /* border: 3px solid #A4161A; */
    display: flex;
    align-items: center;
}

.cabecalhoBorda2{
    width: 25%;
    /* border: 3px solid #A4161A; */
    display: flex;
    align-items: center;
    justify-content: right;

}

.textoConfig{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    font-size: 50px;
    color: white;
    font-family: "Cairo", sans-serif;
}

/* O container do meio do cabeçalho */

.cabecalhoMeio {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Os botoes do cabeçalho */

.cabecalhoBotoes{
    display: flex;
    width: 35%;
    font-size:20px;
    font-family: "Cairo", sans-serif;
    font-weight: normal;
    text-align: center;
}

.cabecalhoBotoes:hover + .txtBotoes{
    color: #A4161A;
}

.flecha{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    display: flex;
    cursor: pointer;
    position: relative;
    transition: .5s;
}

.flecha:hover{color: #660708; transform: rotate(90deg);}

.cabecalhoBusca{
    height: 30%;
    width: 100%;
    border:solid 1px;
    border-radius: 20px;
    margin-right: 5%;
    background-color: #A4161A;
    display: flex;
    align-items: center;
    justify-items: right;
}

#txtBusca{
    background-color:transparent;
    outline: none;
    border:none;
    color: white;
    width: 70%;
    height: 100%;
    padding-left:10px;
    font-size: 10px;
}

#txtBusca::placeholder{
    color: whitesmoke;
}

.cabecalhoPerfil{
    cursor: pointer;
    display: none;
    align-items: center;
    background-color: transparent;
}

.cabecalhoPerfil:hover,.cabecalhoLupa:hover{
    box-shadow:  0px 4px 1px 0px white;
}

.cabecalhoLupa{
    height: 50%;
    width: 15%;
    margin-right: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.content{
    display: flex;
    justify-content: space-between;
    background-color: #0B090A;
    flex-direction: row;
    height: 50%;
    width: 500%;
}


.containerSlides{
    width: 500%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slidesGrad{
   overflow: hidden;
    position: absolute;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.5));
    z-index: 1;
    width: 20%;
    height: 100%;
}

.slides{
    width: 20%;
    height: 100%;
    overflow: hidden;    
}

.planosQuad{
    height: 7%;
    width: 20%;
    transition: 1s;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #A4161A ,#660708);
    display: flex;
    position:absolute;
    align-items: center;
    flex-direction: column;
    align-self: center;
    font-family: "Cairo", sans-serif;
    color: white;
    justify-content: space-evenly;
    font-size: 30px;
    top: 55%;
    z-index: 4;
    margin-top: 2.5%;
    padding-top: 1%;
}

.planosQuad:hover{
    transition: 1.5s;
    height: 60%;
    width: 60%;
    background-color: #0B090A;
}

.planosQuad:hover .beneficios,.planosQuad:hover .beneficios2{
    opacity: 100;
    transition: 1s;
}

.planosQuad:hover h5{
    margin-top: 0%;
}

h4,h5{
  
    display: flex;
    font-family: "Cairo", sans-serif;
    font-size: 30px;
    margin: 3%;
}

h5{
    font-family: "Cairo", sans-serif;
    font-size: 30px;
    margin-top: 12%;
    font-weight: 500;
}

.slides img{
    position: cover;
    position: relative;
}

.containerAbaPrincipal{
    width: 100%;
    height: 100%;
    /* border: 2px solid #660708; */
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin-top: 9%;
    z-index: -1;
}

.containerAba,.containerAba2{
    width: 25%;
    height: 40%;
    /* border: 2px solid #660708; */
    display: flex;
    justify-content: space-around;
}

.containerAba2{
    right: 1%;
    /* border: 2px solid #660708; */
    justify-content: right;
}

.perfil{
    height: 60%;
    width: 20%;
    background-color: white;
    transform: translate(0%,-100%);
    position: relative;
}

#categorias,.destaques,.combos{
    height: 100%;
    width: 45%;
    position: absolute;
    opacity: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0%,-100%); 
    position: relative;
}

.contentAbas{
    width: 100%;
    height: 180%;
    border-left: 5px solid white;
    box-shadow:  0px 0px 4px 0px #000000;
    background-color: white ;
    color: #0B090A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
    transition: .1s;
    border-left: 5px solid #A4161A;
}

h3{
    font-size: 10px;
    font-family: "Cairo", sans-serif;
    margin-left: 10%;
}

.contentAbas:hover{
border-left: 10px solid #A4161A;
}

.containerSlogan{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBotoes{
    width: 100%;
    height: 20%;
    display: flex;
    /* border: 2px solid #660708; */
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}

.contentBotoes{
    width: 55%;
    height: 65%;
    background-image: linear-gradient(to bottom, #A4161A ,#660708);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.contentBotoes:hover{
    cursor: pointer;
    box-shadow:  0px 0px 4px 0px #000000;
    background-color:#161A1D;
    color: white;
}

.contentSlides{
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

h2{
    font-size: 30px;
    font-family: "Cairo", sans-serif;
    border: none;
    font-weight: lighter;
}

.botaoAssinar{
    width: 20%;
    height: 13.5%;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #A4161A ,#660708);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-top: 1.5%;
    font-family: "Cairo", sans-serif; 
}

h1{
    font-size: 60px;
    font-family: "Cairo", sans-serif;
    color:white;
    font-weight: 700;
    height: 20px;
    z-index: 1;
}

p{
    color: white;
    font-size: 20px;
    font-family: "Cairo", sans-serif;
}


.menuPerfil{
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5) ;
    backdrop-filter: blur(10px);
    z-index: 14;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.perfilSel{
    color: white;
    width: 25%;
    font-weight: lighter;
    padding-left: 1%;
    height: 10%;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 30px;
    margin-right: 7.5%;
    transition: 1s;
}

.perfilSel:hover{
    transition: .1s;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.7) ;
    /* border-bottom: 1px solid white; */
}

.containerPlanos{
    width: 100%;
    height: 35%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    background-image: linear-gradient(to bottom, #0B090A,#161A1D);
    justify-content: center;
}

.planosCabecalho{
    width: 70%;
    height: 20%;
    background-color: #161A1D;
    margin-top: 2.5%;
    display: flex;
    align-items: center;
    transition: 1s;
    justify-content: space-between;
}

.planosEscolhas,.planosEscolhas2{
    display: flex;
    height: 100%;
    width: 40%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #161A1D;
    transition: 1s;
}

.planosEscolhas2{
    background-color: #A4151A;
}

.pEscolhaMetade,.pEscolhaMetade2,.pEscolhaMetade3{
    width: 100%;
    height: 50%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.pEscolhaMetade2,.pEscolhaMetade3{
    margin-left: 7.5%;
    font-family: "Cairo", sans-serif;
    color: #D3D3D3;
}

.pEscolhaMetade3{
    font-size: 15px;
}

.planosContent{
    display: flex;
    width: 70%;
    height: 80%;
}

h4{
    color: white;
    font-family: "Cairo", sans-serif;
}

.planosMetade{
    height: 100%;
    width : 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.beneficios,.beneficios2{
    width: 100%;
    height: 40%;
    opacity: 0;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0B090A,#161A1D);
}

.beneficios2 {
    background-image: linear-gradient(to left, #0B090A,#161A1D);
}

.beneficiosIcon{
    height: 80%;
    margin-left: 1%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left,#BA181B,#660708);
}

.beneficiosC{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    margin: 3.1%;
}

.beneficiosMetade,.beneficiosMetade2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
}

.beneficiosMetade2{
    justify-content: end;
}

.planosCombos{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
}

.planoPreco{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;
    justify-content : center;
    background-color: #A4161A;
}

.planosOpcoes{
    width: 100%;
    height: 27.5%;
    /* background-image: linear-gradient(to top, #0B090A,#161A1D); */
    background-color: #161A1D;
    display: flex;
    cursor: pointer;
    z-index: 3;
    transition: 2s;
}

.planosOpcoes:hover{
    background-color: #161A1D;
    background-image: none;
    transition: 2s;
}

.planosC{
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planosCheck{
    width: 25%;
    height: 20%;
    border-radius : 50%;
    border: 2px solid white;
}

.planosTextoC{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
}

.planosTexto,.planosTexto2{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: "Cairo", sans-serif;
}

.planosTexto2{
    color:#D3D3D3;
    font-family: "Cairo", sans-serif;
}

.combosQuad{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.combosBotoes{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.combosQuadI{
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.combosQuadB{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Cairo", sans-serif;
    background-color: #0B090A;
    cursor: pointer;
    transition: 1s;
}

.combosQuadB:hover{
    background-color: #161A1D;
    transition: 1s;
}

.planosTexto{
    height: 30%;
    color: white;
    font-size: 25px;
}

td{
    vertical-align: top; /* Alinhamento ao topo */
}

.rodape{
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #221f1f;
    font-family: "Cairo", sans-serif;
    display: flex;
    position: relative;
    margin-top: 20%;
    font-weight: 900;
}

.rodapeFinal {
    width: 100%;
    height: 100px;
    background: #6a040f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    font-size: 20px;
  }

.txtRodape{
    color: #A4161A;
}

.titulo1,.titulo2,.titulo3{
    font-family: "Cairo", sans-serif;
    margin-left: 12.5%;
    font-size: 30px;
}

.titulo3{
    bottom: 35%;

}
.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

.social-list {
    display: flex;
    
 
    flex-direction: column;
}

.social-item {
    --size: 40px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

.sininho{
    cursor: pointer;
    display: none;
    align-items: center;
    background-color: transparent;
    margin-right: 20% ;
    width: 50px;
  }

  .notificacao{
    width: 30px;
    background-color: #BA181B;
    color: white;
    border-radius: 30px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    display: none;
  }

  .botaoCadastro{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Cairo", sans-serif;
    border: 1px solid white;
    color: white;
    transition: 1s;
    cursor: pointer;
  }

  .botaoCadastro:hover{
    height: 65%;
    font-size: 22px;
  }