/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    background-color: #161A1D;
    padding: 0;
    margin:  0;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    
}

.desliza{
    animation: deslizar 2s forwards;
}
@keyframes deslizar {
    0%{ transform: translate(0%,-100%);}
    100%{ transform: translate(0%,0%); z-index: 1;}
}
.sobe{
    animation: subir 2s forwards;
}
@keyframes subir {
    0%{ transform: translate(0%,0%);}
    100%{ transform: translate(0%,-100%); z-index: -1;}
}

h2{
    border-bottom: 1px solid #A4161A;
    font-family: 'Cinzel', serif;
    font-size: 10px; 
    text-align: center;
}
/* Texto da Logo */
.txtLogo{
    font-size:40px;
    font-family: 'Quicksand', sans-serif;
    
    color: white;
    text-align: center;
    cursor: pointer;
}

.txtLogo:hover{font-size: 41px;}

.txtBotoes , .txtBotoesC{
    font-size: 20px;
    font-family: 'Cinzel', sans-serif;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 150px;
    display: flex;
    justify-content: center;
    transition: .5s;
    
}

.txtBotoes:hover,.txtBotoesC:hover{
    font-size: 22px;
    color:  #A4161A;
}

.txtBotoesC{
    align-items: center;
    
    font-size: 25px;
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

.textoSlogan{
    color:white;
    width: 90%;
    height: 100%;
    /* border: 1px solid #A4161A; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    animation: animate 1.5s linear infinite;
}
.piscar{
    font-size: larger;
    font-family: 'Quicksand', serif;
    color:#070000;
    animation: animate 1.5s linear infinite;
    }
   
    @keyframes animate {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;
    }
}
        /* Cabeçalho */
.cabecalho{
    width: 100%;
    height: 10%;
    background-color: #0B090A;
    border-bottom: 5px solid #A4161A;
    display: flex;
    justify-content: space-around;
    text-align: center;
    z-index: 2;
   
}

a{
    color: red;
    text-decoration: none;
}
/* Os containers das pontas do cabeçalho. */
.cabecalhoBorda{
    width: 25%;
    /* border: 3px solid #A4161A; */

    display: flex;
    align-items: center;
}

.cabecalhoBorda2{
    width: 25%;
    /* border: 3px solid #A4161A; */

    display: flex;
    align-items: center;
    justify-content: center;

}
/* O container do meio do cabeçalho */
.cabecalhoMeio {
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
/* Os botoes do cabeçalho */
.cabecalhoBotoes{
    display: flex;
    width: 25%;

   
    font-size:15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    text-align: center;
}
.cabecalhoBotoes:hover + .txtBotoes{
    color: #A4161A;
}

.flecha{
   
    font-size: 25px;
    
    font-family: 'Quicksand', sans-serif;
    color: white;
    display: flex;
    cursor: pointer;
    transition: 1s;
   
}

.flecha:hover{color: #660708; transform: rotate(90deg);}

.cabecalhoBusca{
    height: 30%;
    width: 100%;
    border:solid 1px;
    border-radius: 20px;
    margin-right: 5%;
    background-color: #A4161A;
    display: flex;
    align-items: center;
    justify-items: right;
}

#txtBusca{
    background-color:transparent;
    outline: none;
    border:none;

    color: white;
    width: 70%;
    height: 100%;
   
    padding-left:10px;
    font-size: 10px;
}

#txtBusca::placeholder{
    color: whitesmoke;
}


.cabecalhoPerfil{
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    
 
}
.cabecalhoPerfil:hover,.cabecalhoLupa:hover{
    box-shadow:  0px 4px 1px 0px white;
}

.cabecalhoLupa{
   
    height: 50%;
    width: 15%;
    margin-right: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 35%;
}
.contentMetade,.contentMetade2{
 
    width: 50%;
    height: 100%;
    /* border: 2px solid #660708; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.contentMetade2{z-index: -2;} 

.containerAbaPrincipal{
    
    width: 100%;
    height: 100%;
    /* border: 2px solid #660708; */
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin-top: 9%;
   
   
   
}
.containerAba,.containerAba2{
    position: absolute;
    width: 33%;
    height: 50%;
    /* border: 2px solid #660708; */
    
    display: flex;
    justify-content: space-around;

}
.containerAba2{
    right: 1%;
    /* border: 2px solid #660708; */

    justify-content: right;
    
}

.perfil{
    height: 60%;
    width: 20%;
    
    background-color: white;
    transform: translate(0%,-100%);
}

.categorias,.destaques,.combos{
    height: 100%;
    width: 25%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0%,-100%);
  
}
.contentAbas{
    width: 100%;
    height: 20%;
    border-left: 5px solid #A4161A;
    box-shadow:  0px 0px 4px 0px #000000;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    
}

.contentAbas:hover{border-left: 10px solid #A4161A;}

.containerSlogan{
    width: 100%;
    height: 70%;
    display: flex;
    
    
    justify-content: center;
    align-items: center;
}
.containerBotoes{
    width: 100%;
    height: 20%;
    display: flex;
    /* border: 2px solid #660708; */
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    
}
.contentBotoes{
    width: 35%;
    height: 65%;
    background-color:#A4161A;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    
}
.contentBotoes:hover{
    cursor: pointer;
    box-shadow:  0px 0px 4px 0px #000000;
    background-color:#161A1D;
    color: white;
}

.rodape{
    width: 100%;
    height: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}
.containerFilmes{
    width: 100%;
    height: 30%;
    /* border: 4px solid #660708; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.divFilmes{
    height: 100%;
    width: 20%;
    /* border: 2px solid #660708; */
   
}

.imgFilme{
    height: 100%;
    width: 100%;
    
}

.icone3d{
    position: absolute;
  
    
}
.d2
        {
            position: absolute;
            top: 100px;
            left: 0px;
            animation: gira2 5s infinite alternate;
            width: 0px;
            height: 200px;
            animation-delay: 0,5s;
          
        }
@keyframes gira2{
           
            0%   {top: 100px; left: 0px; rotate: 0deg; }
           
            100% { top: 100px; left: 1100px; rotate: 360deg;
                   width: 0px; height: 0px;
                 }
        }