@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    margin : 0;
    padding: 0;
    height: 100vh;
    background-color: #0B090A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal{
    width: 1000px;
    height: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    
}
.containerMensagem{
    width: 100%;
    height: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  
    font-size: 50px;
}
.faleConosco{
  
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 100px;
    font-family: 'Quicksand', sans-serif;
    
}

h{
    border-bottom: 2px solid #A4161A;

}

input{
    width: 89%;
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.containerBotao{
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
button{
    width: 90%;
    height: 100%;
    background-color: #A4161A;
    color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .5);
    outline: none;
    border : none;
    
}

.containerChat{
    width: 90%;
    height: 500px;
    background-color: white;
    border: 2px solid #A4161A;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}
.containerResposta{
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
   
}
.resposta{
    width: 100%;
    height: 100px;
    display: flex;

    border:1px solid black;
    font-size: 25px;
    display: flex;
    
}
.respostaConteudo{
    width: 15%;
    height: 100%;
    display: flex;
    background-color:#A4161A ;
    border-right: 20px solid white;
    font-size: 25px;
    color: white;
}




