@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body {
    margin: 0px;
    padding :0px;
  
    overflow: hidden;
 
}
.principal{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:  center;
    align-items: center;
    background-color: #161A1D;
    z-index: -2;
}
.v{
    position: absolute;
    left: 10%;
    width: 50%;
    height: 50%;
    z-index: 2;
    top: 36%;
}
.c{
    position: absolute;
    left: 90%;
    z-index: 2;
    top: 36%;
}

.macaco{
    position: absolute;
    top: 10%;
    z-index: 1;
}
.oculos{
    position: absolute;
    top: 90%;
    z-index: 2;
}
.quad2{
    width: 12%;
    height: 24%;
    background-color: white;
    position: absolute;
    left: -14%;

}
.quad2,.quad{
    background-color: #E5383B;
    
    height: 3%;
    left: 43%;
    z-index: 0;
    top:42%;
    opacity: 0;
    position: absolute;
    
}

.quad2{
    z-index: -1;
    background-color: #8ecae6;
}