* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #323232;
  border: none;
}

body {
  background-image: url('../img/cinema.jpg');
  background-size: cover;
  background-position-y: -200px;
}

textarea:focus, input:focus {
  outline: none;
}

a {
  font-size: .8rem;
}

a:hover {
  color: rgb(150, 0, 0);
}

.caixa-principal {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 8px;
  text-align: center;
  border: solid 2px rgb(9, 41, 56);
}

form { /*div do formulario (senha e email) */
  margin-top: 30px;
  margin-bottom: 40px;
}

label, /* cores da etiqueta(email e senha) */
input {
  display: block;
  width: 100%;
  text-align: left;
  color: black;
}

label {  /* formatação etiqueta */
  font-weight: bold;
  font-size: .8rem;
}

 input {  /*linha do email e da senha */
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input:focus { /* hover da linha do email e da senha*/
  border-bottom: 2px solid rgb(150, 0, 0);
}

.esquece_a_senha {
  display: block;
  text-align: right;
}

input[type="button"] {
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color:  rgb(186, 0 , 1);
  font-weight: bold;
}

input[type="button"]:hover {
  background-color: rgb(88, 1 , 0);
  transition: .5s;
}

.social-container {
  margin-bottom: 20px;
}

.social-container p {
  margin-bottom: 20px;
}

.social-container i {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin: 0 5px;
  color: #FFF;
  background-color: #000000;
}