@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #161A1D;
   
}

/* - Fundo principal - */
.principal {
    
    width: 100%;
    height:100%;
    
    background-color: #161A1D;
}
/* - Cabeçalho principal -*/
.cabecalho {
    width:100%;
    height: 20vh;

    background: linear-gradient(-45deg, #000000, #6a040f, #370617, #03071e);
    background-size: 400% 400%;
    border-bottom: 3px solid #A4161A;
    display: flex;
    
    justify-content: space-between;
    animation: Gradient 8s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* - Caixas organizadora do cabeçalho-*/
.caixaL{
   
    height: 100%;
    width: 300px;

    /* border-radius: 1px;
    border-color: rgba(255, 255, 255, 1);
    border-style: dotted; */
}

/* - Texto VIRTUAL CINE - */
.logoTexto{
    width: 100%;
    height: 100%;
    color: white;
    font-size:40px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.logoTexto:hover{
    font-size:41px;
    
    cursor: pointer;
}

/* Linha decorativa debaixo do cabecalho */

.linhaD{
    width: 100%;
    height: 5px;
    background-color: #A4161A;
    
}

.campoPlanos{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.plano1{
    width: 400px;
    height: 500px;
    left: 100px;
    background: linear-gradient(#660708, black);
    position: absolute;
    overflow: hidden;
}
.plano1 span:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #A4161A);
    animation: card1 2s linear  infinite;
}

@keyframes card1 {
    0%  {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.plano1 span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #A4161A);
    animation: card2 2s linear  infinite;
    animation-delay: 1s;
}

@keyframes card2 {
    0%  {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.plano1 span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #A4161A);
    animation: card3 2s linear  infinite;
}

@keyframes card3 {
    0%  {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.plano1 span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #A4161A);
    animation-delay: 1s;
}

@keyframes card4 {
    0%  {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
.plano2{
    width: 400px;
    height: 500px;
    left: 600px;
    background: linear-gradient(#660708, black);
    position: absolute;
    overflow: hidden;
}
.plano2 span:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #A4161A);
    animation: card1 2s linear  infinite;
}

@keyframes card1 {
    0%  {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.plano2 span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #A4161A);
    animation: card2 2s linear  infinite;
    animation-delay: 1s;
}

@keyframes card2 {
    0%  {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.plano2 span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #A4161A);
    animation: card3 2s linear  infinite;
}

@keyframes card3 {
    0%  {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.plano2 span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #A4161A);
    animation-delay: 1s;
}

@keyframes card4 {
    0%  {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
.plano3{
    width: 400px;
    height: 500px;
    left: 1100px;
    background: linear-gradient(#660708, black);
    position: absolute;
    overflow: hidden;
}
.plano3 span:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #A4161A);
    animation: card1 2s linear  infinite;
}

@keyframes card1 {
    0%  {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.plano3 span:nth-of-type(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #A4161A);
    animation: card2 2s linear  infinite;
    animation-delay: 1s;
}

@keyframes card2 {
    0%  {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.plano3 span:nth-of-type(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #A4161A);
    animation: card3 2s linear  infinite;
}

@keyframes card3 {
    0%  {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.plano3 span:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #A4161A);
    animation-delay: 1s;
}

@keyframes card4 {
    0%  {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.planoTitulo {
    width: 400px;
    height: 50px;
    background-color: #A4161A;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color :white;
    z-index: 1;
    text-align: center;
}

.planoAssinante {
    width: 400px;
    height: 50px;
    background-color: #fdf0d5;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color :black;
    z-index: 1;
    text-align: center;
}

.planoData {
    width: 400px;
    height: 50px;
    background-color: #fdf0d5;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color :black;
    z-index: 1;
    text-align: center;
}

.planoStatus {
    width: 400px;
    height: 50px;
    background-color: #fdf0d5;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color :black;
    z-index: 1;
    text-align: center;
}

.planoAtivo {
    width: 200px;
    height: 80px;
    background-color: #8ac926;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color :white;
    z-index: 1;
    text-align: center;
    transition: 1s;
}

.planoAtivo:hover,
  .planoAtivo:focus {
    background: #84a98c;
  }

.planoInativo {
    width: 200px;
    height: 80px;
    background-color: #9e2a2b;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color :white;
    z-index: 1;
    text-align: center;
    transition: 1s;
}

.planoInativo:hover,
  .planoInativo:focus {
    background: #a44a3f;
  }

.planoCancelar {
    width: 200px;
    height: 80px;
    background-color: #212529;
    font-size: 32px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .5);
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color :#A4161A;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

.planoCancelar:hover,
  .planoCancelar:focus {
    background: #cad2c5;
  }


.nome{
    color: white;
    text-align: center;
}
.data{
    color: white;
    text-align: center;
}

.bloco_estatisticas{
    width: 100%;
    height: 300px;
    background-color: #dad2bc;
}

.estatistica{
    color: #bc4749;
    text-align: center;
    font-size: 50px;
}

.totalAssinaturas{
    color: #bc4749;
    text-align: center;
}

.AssinaAtiva{
    color: #bc4749;
    text-align: center;
}