@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #161A1D;
}

/* - Fundo principal - */
.principal {
    width: 100%;
    height:100vh;
    background-color: #161A1D;
}

/* - Cabeçalho principal -*/
.cabecalho {
    width:100%;
    height: 15vh;
    background: linear-gradient(-45deg, #000000, #6a040f, #370617, #03071e);
    background-size: 400% 400%;
    border-bottom: 3px solid #A4161A;
    display: flex;
    justify-content: space-between;
    animation: Gradient 8s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* - Caixas organizadora do cabeçalho-*/
.caixaL{
    height: 100%;
    width: 300px;
}

.menu{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
}

.botoes{
    height: 100%;
    width: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botoes:hover,
.botoes:focus {
    background: #0496ff;
  }

.quadInformações,.quadDados,.quadPersonalizar,.quadIdioma{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.quadIdioma{
    align-items: baseline;
    justify-content: baseline;
}

.chay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120%;
}


.quadInformações{
    background-color: #dad7cd;
}

.quadDados{
    background-color: #dad7cd;
}

.quadPersonalizar{
    background-color: #161A1D;
}

.quadIdioma{
    background-color: #161A1D;
}

/* - Texto VIRTUAL CINE - */
.logoTexto{
    width: 400px;
    height: 130px;
    color: white;
    font-size:40px;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.logoTexto:hover, .logoTexto img{
    transform: scale(1.1);
    transition : 1s;
    cursor: pointer;
}

.subtitulo{
    color: #A4161A;
    font-size: 40px;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    width: 100%;
    background-color: white;
    color: black;
    font-family: "Cairo", sans-serif;
    text-align: center;
    cursor: pointer;
}

.info:hover,
.info:focus {
    background: #ced4da;
  }

  .card {
    background-color: #457b9d;
    transition: 0.3s;
    width: 285px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 3%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 green;
  }
  
  .container {
    padding: 2px 16px;
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select_idioma{
    background-color: #8ac926;
    height: 50px;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select_idioma:hover,
  .select_idioma:focus {
    background: #4ea8de;
  }

  .card2 {
    background-color: #457b9d;
    transition: 0.3s;
    width: 285px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border: 2px solid black;
    margin-left: 3%;
  }
  
  .card2:hover {
    box-shadow: 0 8px 16px 0 red;
  }
  
  .container2 {
    padding: 2px 16px;
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select_idioma2{
    background-color: beige;
    height: 50px;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    cursor: pointer;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select_idioma2:hover,
  .select_idioma2:focus {
    background: #4ea8de;
  }

  .card3 {
    background-color: #457b9d;
    transition: 0.3s;
    width: 285px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border: 2px solid black;
    margin-left: 3%;
  }
  
  .card3:hover {
    box-shadow: 0 8px 16px 0 blue;
  }
  
  .container3 {
    padding: 2px 16px;
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select_idioma3{
    background-color: beige;
    height: 50px;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    cursor: pointer;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select_idioma3:hover,
  .select_idioma3:focus {
    background: #4ea8de;
  }

  .card4 {
    background-color: #457b9d;
    transition: 0.3s;
    width: 285px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    border: 2px solid black;
    margin-left: 3%;
  }
  
  .card4:hover {
    box-shadow: 0 8px 16px 0 white;
  }
  
  .container4 {
    padding: 2px 16px;
    font-family: "Cairo", sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .select_idioma4{
    background-color: beige;
    height: 50px;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    cursor: pointer;
    color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .select_idioma4:hover,
  .select_idioma4:focus {
    background: #4ea8de;
  }

  body {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

h1{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: white;
  font-size: 40px;
}

p{
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: gray;
}

.app {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 400px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.radio {
  display: none;
}
.radio ~ span {
  font-size: 3rem;
  filter: grayscale(100);
  cursor: pointer;
  transition: 0.3s;
}

.radio:checked ~ span {
  filter: grayscale(0);
  font-size: 4rem;
}