@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #161A1D;
}

/* - Fundo principal - */
.principal {
    width: 100%;
    height:100vh;
    background-color: #161A1D;
}

/* - Cabeçalho principal -*/
.cabecalho {
    width:100%;
    height: 15vh;
    background: linear-gradient(-45deg, #000000, #6a040f, #370617, #03071e);
    background-size: 400% 400%;
    border-bottom: 3px solid #A4161A;
    display: flex;
    justify-content: space-between;
    animation: Gradient 8s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* - Caixas organizadora do cabeçalho-*/
.caixaL{
    height: 100%;
    width: 300px;
}

.menu{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: "Cairo", sans-serif;
    font-weight: 600;
}

.botoes{
    height: 100%;
    width: 15%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botoes:hover,
.botoes:focus {
    background: #0496ff;
  }

.quadInformações,.quadDados,.quadPersonalizar,.quadIdioma{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.chay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120%;
}


.quadInformações{
    background-color: #dad7cd;
}

.quadDados{
    background-color: #dad7cd;
}

.quadPersonalizar{
    background-color: rebeccapurple;
}

.quadIdioma{
    background-color: #161A1D;
}

/* - Texto VIRTUAL CINE - */
.logoTexto{
    width: 400px;
    height: 130px;
    color: white;
    font-size:40px;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.logoTexto:hover, .logoTexto img{
    transform: scale(1.1);
    transition : 1s;
    cursor: pointer;
}

.subtitulo{
    color: #A4161A;
    font-size: 40px;
    font-family: "Cairo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info{
    width: 100%;
    background-color: white;
    color: black;
    font-family: "Cairo", sans-serif;
    text-align: center;
    cursor: pointer;
}

.info:hover,
.info:focus {
    background: #ced4da;
  }