@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-image: url("CADASTRO/img/cinema.jpg");
    background-size: 100%;

}

.bloco-principal {
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
}


.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    border: #6e0000 solid 1px;
}

.form-cabeçalho {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

.botao-login {
    display: flex;
    align-items: center;
}

.botao-login button {
    border: none;
    background-color: #6e0000;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.botao-login button:hover {
    background-color: #6e0000;
}

.botao-login button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-cabeçalho h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6e0000;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-grupo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-caixa {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-caixa input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #ff00801c;
    font-size: 0.8rem;
}

.input-caixa input:hover {
    background-color: #eeeeee75;
}

.input-caixa input:focus-visible {
    outline: 1px solid #6e0000;
}

.input-caixa label,
.genero-titulo h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-caixa input::placeholder {
    color: #000000be;
}

.genero-grupo {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.genero-input {
    display: flex;
    align-items: center;
}

.genero-input input {
    margin-right: 0.35rem;
}

.genero-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.botao-continuar button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6e0000;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.botao-continuar button:hover {
    background-color: #850000;
}

.botao-continuar button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-imagem {
        display: none;
    }
    .bloco-principal {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .bloco-principal {
        width: 90%;
        height: auto;
    }
    .input-grupo {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .genero-inputs {
        margin-top: 2rem;
    }
    .genero-grupo {
        flex-direction: column;
    }
    .genero-titulo h6 {
        margin: 0;
    }
    .genero-input {
        margin-top: 0.5rem;
    }
}